h1{
    padding: 20px;
    text-align: center;
}

.search-area{
    background-color: whitesmoke;
}

.search-btn{
    background-color: #0033cc;
    color: white;
    padding-top: 10px;
}

.btn{
    display: block;
    background-color: white;
    width: 100%;
    padding:20px;
    border: 1px solid lightgray;
    border-radius: 5px;
    
}
.search-bar{
    padding-bottom:10px;
}

span{
    padding: 5px;
}

.card-content{
    padding:20px;

}

.card{
    background-color: palegoldenrod;
}